/* Στυλ για το body */
body {
    margin: 0; /* Αφαίρεση του default περιθωρίου */
    padding: 0; /* Αφαίρεση του padding */
    height: 100vh; /* Ορίζουμε το ύψος του body να είναι 100% του viewport */
    background-image: url('/static/images/login.jpg');
    background-size: cover; /* Καλύπτει όλη την οθόνη και κόβει την εικόνα αν είναι απαραίτητο */
    background-position: center center; /* Κεντράρισμα της εικόνας */
    background-repeat: no-repeat; /* Αποφυγή επανάληψης της εικόνας */
    overflow: hidden; /* Κρύβει τυχόν περιττό μέρος της εικόνας που ξεπερνά το παράθυρο */
}
.welcome-container {
    background-color: rgba(255, 255, 255, 0.3); /* Διάφανο κουτί */
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: 100px auto; /* Κεντρική ευθυγράμμιση στο κέντρο της οθόνης */
    text-align: center; /* Κεντραρισμένο το περιεχόμενο */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Στυλ για την εικόνα του λογότυπου */
.logo {
    width: 150px; /* Ορισμός του πλάτους της εικόνας */
    height: auto; /* Αυτόματη προσαρμογή του ύψους */
    margin-bottom: 20px; /* Κενό κάτω από το λογότυπο */
}

/* Στυλ για τα μηνύματα */
.messages {
    color: red;
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

/* Στυλ για τα κουμπιά */
.button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Μικρό κενό από το λογότυπο */
}

.button:hover {
    background-color: #0056b3;
}
